 <%= form_for(@contact) do |f| %>
    <% if @contact.errors.any? %>
      <div id="error_explanation">
       # バリデーションエラーの件数を表示します。
        <h2><%= @contact.errors.count %>件のエラーがあります。</h2>

      <ul>
        # @blog.errorsは@blogをバリデーションした際のエラー情報です。
        # full_messagesは複数のエラーメッセージを表します。
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
